* {
	box-sizing: border-box;
}
/*======================================Wrapper======================================================*/
.wrapper {
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: #fff;
	font-family: Montserrat;
	font-size: 16px;
	color: #373737;
}
/*======================================Container======================================================*/
._container {
	max-width: 1176px;
	margin: 0px auto;
	box-sizing: content-box;
}
/*=========================================Header===========================*/
.header {
	width: 100%;
	left: 0;
	top: 0;
}
.header__container {
	min-width: 620px;
	padding: 25px 0px 25px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header__menu {
	display: block;
}
.menu {
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item:not(:last-child) {
	margin-right: 72px;
}
.menu__item:nth-child(3) {
	margin-right: 50px;
}
.menu__link {
	font-weight: 700;
	font-size: 18px;
	line-height: 100%;
	text-transform: uppercase;
	letter-spacing: 2.7px;
	color: #ff0000;
}
.menu__link:hover {
	text-decoration: underline;
}

/*=========================================IMG===========================*/
.images {
}
.image {
	display: block;
	width: 100%;
	height: 100%;
}
/*=========================================Information===========================*/
.information {
	background: rgba(0, 0, 0, 0.0001);
	display: flex;
	align-items: center;
	justify-content: center;
}
.information__container {
	margin: 49px 0px 82px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.information__titlle {
	font-weight: 700;
	text-transform: uppercase;
	font-style: 22px;
	line-height: 122.7%;
	letter-spacing: 3.3px;
	margin-bottom: 38px;
}
.information__texts {
}
.information__texts-text {
	font-size: 16px;
	line-height: 162%;
	letter-spacing: 2.4px;
}
.information__texts-text:not(:last-child) {
	margin-bottom: 28px;
}
.information__button {
	margin-top: 66px;
	font-weight: 700;
	font-size: 12px;
	line-height: 100%;
	display: flex;
	align-items: center;
	letter-spacing: 1.8px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 18px 22.5px 17px 22.5px;
	background: #ff0000;
	border-radius: 4px;
	transition: all 0.3s ease 0s;
}
.information__button:hover {
	background: rgba(0, 0, 0, 0.0001);
	color: #ff0000;
	border: 1px solid #ff0000;
}
/*=========================================Footer===========================*/
.footer {
	background: rgba(0, 0, 0, 0.0001);
}
.footer__container {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
}
.footer__titlle {
	font-weight: 700;
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 2.4px;
}
